@import 'reset.scss';
@import './fonts.scss';
@import 'variables/global.scss';
@import 'themes/dark';
@import 'themes/light';

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

// .page-wrapper {
//     flex-grow: 1;
//     padding: 20px;
// }

// check style

.description {
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
}

.title {
    position: relative;
    font-family: 'Philosopher';
    font-weight: 700;
    font-size: 50px;
    line-height: 87px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-dark);
    margin-bottom: 40px;

    &::after {
        content: '';
        position: absolute;
        width: 280px;
        bottom: 0;
        left: 0;
        border: 1px solid var(--color-dark);
    }

}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.grid {
    display: grid;

    &__col-4 {
        grid-template-columns: repeat(3, 1fr);
    }

    &__gap {
        &-30 {
            column-gap: 30px;
        }

        &-20 {
            gap: 20px;
        }
    }


}

.justify {
    &_between {
        justify-content: space-between;
    }

    &_center {
        justify-content: center;
    }
}

.align {
    &_center {
        align-items: center;
    }
}

