.app.dark {
    --bg-color: var(--color-black-bg);
    --primary-color: var(--color-light);
    --inverted-bg-color: var(--color-black-bg);
    --secondary-color: var(--color-light);
    --border-color: var(--color-border-light) 
}