.app.dark {
    --bg-color: var(--color-black-bg);
    --primary-color: var(--color-dark);
    /* check below*/
    --inverted-bg-color: var(--color-black-bg);
    // --secondary-color: rgb(183 183 183);
    // --min-height: 100vh;
}