.app.light {
    --bg-color: rgb(240 240 240);
    --inverted-bg-color: var(--color-light-bg);
    --primary-color: var(--color-black);
    --secondary-color: var(--color-sm-title);
    --border-color: var(--color-border-dark) 
}